.main{
    /* border: 1px solid black; */
  color: red;
   padding: 50px;
}
.center{
    margin-top: 10px;
 justify-content: space-around;
 display: flex ;
}
.black{
    width: 100%;
    height: 100vh;
    background-color: black;
}


.my{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.myteam{
    padding: 80px;
    color: red;
}
.meet{
    color: white; 
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: initial;
    font-size: medium;

}
.img{
    margin-left: 150px;
    border: 1px white;
 color: white;
}
.p{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 59%;
    margin-left: 160px;

}